body {
    background-color: #f8f8f8;
}

.section__article__header {
    width: 100%;
}

.section__article__header__direct {
    width: 100%;
    font-size: 12px;
    color: #999999;
}

.section__article__body {
    margin: 70px 0 30px 0;
}

.section__article__body__form {
    font-size: 12px;
    font-weight: bold;
}

.section__article__body__form small {
    font-size: 12px;
}

.section__block__brands {
    position: absolute;
    padding: 0 50px 0 20px;
    top: 50px;
}

.section__article__body__information {
    line-height: 1em;
}

.section__article__body__information h6 {
    font-size: 18px;
    font-weight: bold;
}

.section__article__body__information span {
    font-size: 12px;
}

.section__article__body__information__phone span {
    font-size: 20px;
}

.section__article__body__information__mail span {
    font-size: 16px;
    text-decoration-line: underline;
}

.section__article__body__information__other {
    width: 75%;
}

.section__article__body__information__other span {
    font-size: 14px;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {
    .section__aside__list-group {
        margin-top: 20px;
    }
    .section__article__body {
        margin: 0;
    }
    .section__article__footer {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .section__aside__list-group {
        margin-top: 0;
    }
    .section__article__body {
        margin: 70px 0 30px 0;
    }
    .section__article__footer {
        margin-bottom: 0;
    }
    .section__article {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1200px) {}