<div class="top-bar__logo-linked">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                <div class="top-bar__logo-linked__logo">
                    <img src="images/icon/surfhouse logo.png" alt="logo">
                </div>
            </div>
            <div class="col">
                <div class="top-bar__logo-linked__linked">
                    <ul>
                        <li><a href=""><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li class="top-bar__logo-linked__linked__dropdown"> EN <i class="fas fa-caret-down"></i>
                            <div class="top-bar__logo-linked__linked__dropdown-content">
                                <ul>
                                    <li>English</li>
                                    <br />
                                    <li>Vietnamese</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>